.boxModel {
background-color: whitesmoke;
border: black 5px solid;
margin: 30px;
padding: 50px;
border-color: aqua;
border-width: 10px;
border-style: double;
border-left-style: dotted;
border-right-color: blueviolet;
border-radius: 15px;
}
/* 1 value = all sides 
    2 values = top and bottom, right and left
    3 values = top, right and left, bottom
    4 values = top, right, bottom, left
    */

    .box-content {
        width: 200px;
        height:200px;
        padding: 20px;
        background-color: forestgreen;
        border: 2px black solid;
        box-sizing: content-box;

    }

    .box-border {
        width: 200px;
        height:200px;
        padding: 20px;
        background-color: aqua;
        border: 2px black solid;
        box-sizing: border-box;
    }

    .block {
        background-color: lightcoral;
        width: 200px;
        height: 200px;
    }

    .inline {
        background-color: mediumvioletred;
        height: 100px;
        width: 100px;
        
    }
    .inline-block{
        display: inline-block;
        width: 200px;
        height: 200px;
        background-color: chocolate;
    }
    .static {
        position: static;
        background-color: limegreen;
        width: 200px;
        height: 50px;
        margin-bottom: 20px;
    }
    .relative {
        position: relative;
        background-color: aquamarine;
        width: 200px;
        height: 50px;
        left: 80px;
        top: 10px;
    }
    .absolute {
        position: absolute;
        background-color: slateblue;
        width: 200px;
        height: 50px;
        top: 10px;
    }

    .fixed {
        position:fixed;
        background-color: orange;
        width: 200px;
        height: 50px;
        top: 50px;
    }

    .sticky {
        position: sticky;
        background-color: red;
        width: 200px;
        height: 50px;
        top: 20px;
        bottom: 20px;


    }

    .float-right {
        width: 200px;
        height: 200px;
        background-color: indianred;
        float: right;
    }
    .float-left {
        width: 200px;
        height: 200px;
        background-color: peru;
        float: right;
    }
    .clear-floats {
        clear:both
        background-color: red;
    }

    /* centering elements */

    .parent-box {
        height:200 px;
        width:300 px;
        background-color:  rebeccapurple;
        margin:auto;

    }
    .center-vertical {
        background-color: coral;
        display:flex;
        align-items: center;
    }
    .center-horizontal-vertical {
background-color: lightblue;
display:flex;
align-items: center;
text-align: center;
    }