.font-family-size {
    font-family: Arial, helvetica, sans-serif;
    font-size:20;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.center-align {
    text-align: center;
}

.line-through {
    text-decoration: line-through;
}

.line-height {
    line-height: 4;
    }

.letter-spacing {
    letter-spacing: 5px;
}

.text-shadow {
    text-shadow: 2px 2 px 4 px rgba(0, 0, 0, 0.5);
}